{% extends "base.html" %}
{% load humanize %}
{% load markdown %}

{% block title %}{{ post.title }} | Charcha{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="post">
      <div class="vote-control">
        <div class="vote-button upvote"></div>
        <div class="vote-votes">{{ comment.upvotes }}</div>
        <div class="vote-button downvote"></div>
      </div>
      <div>
          <div class="post-title">
            <h2>{{ post.title }}</h2>
          </div>
          <div class="post-line-2">
            <div class="post-score">
               by {{ post.author.username }} | 
              {{ post.score }} points | 
              {{ comments|length }} comment{{ comments | length | pluralize }} |
              {{ post.submission_time | naturaltime }}
            </div>
          </div>
          {% if post.text %}
          <div class="post-text">
            <p>{{post.text | markdown}}</p>
          </div>
          {% endif %}
          <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
              <textarea class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Add Comment</button>
          </form>
      </div>
  </div>
  <div class="comments">
  {% for comment in comments %}
    <div class="comment indent-{{comment.indent}}">
      <div class="vote-control">
        <div class="vote-button upvote" data-toggle="tooltip" data-placement="left" title="Tooltip on left"></div>
        <div class="vote-votes">{{ comment.upvotes }}</div>
        <div class="vote-button downvote"></div>
      </div>
      <div>
        <div class="comment-header">
          <span class="comment-author">
            by {{ comment.author.username }}
          </span>
          <span>|</span>
          <span class="comment-submission-time">{{ comment.submission_time | naturaltime }}</span>
        </div>
        <div class="comment-text">
          <p>
              {{ comment.text | markdown}}
          </p>
        </div>
        <a class="reply" href="{% url 'reply_to_comment' comment.id %}">reply</a>
      </div>
    </div>
  {% endfor %}
 </div>
</div>
{% endblock %}
