{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ post.title }} | Charcha{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="post">
      <div class="vote-control">
        <div class="vote-button upvote"></div>
        <div class="vote-votes">{{ comment.upvotes }}</div>
        <div class="vote-button downvote"></div>
      </div>
      <div>
          <div class="post-title">
            <h2>{{ post.title }}</h2>
          </div>
          <div class="post-line-2">
            <div class="post-score">
               by <a href="">{{ post.author.username }}</a> | 
              {{ post.score }} points | 
              {{ comments|length }} comments
            </div>
          </div>
          {% if post.text %}
          <div class="post-text">
            <p>{{post.text}}</p>
          </div>
          {% endif %}
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Add Comment</button>
          </form>
      </div>
  </div>
  <div class="comments">
  {% for comment in comments %}
    <div class="comment indent-{{comment.indent}}">
      <div class="vote-control">
        <div class="vote-button upvote" data-toggle="tooltip" data-placement="left" title="Tooltip on left"></div>
        <div class="vote-votes">{{ comment.upvotes }}</div>
        <div class="vote-button downvote"></div>
      </div>
      <div>
        <div class="comment-header">
          <span class="comment-author">
            <a href="">{{ comment.author.username }}</a>
          </span>
          <span class="comment-submission-time">{{ comment.submission_time | naturaltime }}</span>
          <a href="javascript:void()" onclick="">[-]</a> 
        </div>
        <p class="comment-text">
            {{ comment.text }}
        </p>
        <a class="reply" href="{% url 'reply_to_comment' comment.id %}">reply</a>
      </div>
    </div>
  {% endfor %}
 </div>
</div>
{% endblock %}
