{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

  <div class="post">
      <div class="vote-control">
        <div class="vote-button upvote"></div>
        <div class="vote-votes">{{ comment.upvotes }}</div>
        <div class="vote-button downvote"></div>
      </div>
      <div>
          <div class="post-title">
            <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
          </div>
          <div class="post-line-2">
            <div class="post-score">
               by <a href="">{{ post.author.username }}</a> | 
              {{ post.score }} points | 
              {{ comments|length }} comments |
              <a href="">flag</a> | 
              <a href="">favourite</a>
            </div>
          </div>
          {% if post.text %}
          <div class="post-text">
            <p>{{post.text}}</p>
          </div>
          {% endif %}
          <form>
            <div>
              <textarea rows="10" cols="80"></textarea>
            </div>
            <input type="submit" value="Add Comment" />
          </form>
      </div>
  </div>
  <div class="comments">
  {% for comment in comments %}
    <div class="comment indent-{{comment.indent}}">
      <div class="vote-control">
        <div class="vote-button upvote"></div>
        <div class="vote-votes">{{ comment.upvotes }}</div>
        <div class="vote-button downvote"></div>
      </div>
      <div>
        <div class="comment-header">
          <span class="comment-author">
            <a href="">{{ comment.author.username }}</a>
          </span>
          <span class="comment-submission-time">{{ comment.submission_time | naturaltime }}</span>
          <a href="javascript:void()" onclick="">[-]</a> 
        </div>
        <p class="comment-text">
            {{ comment.text }}
        </p>
        <a class="reply" href="{% url 'reply_to_comment' comment.id %}">reply</a>
      </div>
    </div>
  {% endfor %}
 </div>

{% endblock %}
