{% extends "base.html" %}
{% load humanize %}
{% block title %}Charcha{% endblock %}

{% block content %}
<div class="container-fluid">
<form id="defaults">
  <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}">
</form>

<div class="posts">
  {% for post in posts %}
    <div class="post">
    <div data-object-type="posts" data-object-id="{{post.id}}" class="vote-control">
      {% if 'upvote' in post.my_votes and 'downvote' in post.my_votes %}
      <button class="vote-button upvote" data-state="voted"></button>
      <button class="vote-button downvote" data-state="voted"></button>
      {% elif 'upvote' in post.my_votes %}
      <button class="vote-button upvote" data-state="voted"></button>
      <button class="vote-button downvote" data-state="disabled"></button>
      {% elif 'downvote' in post.my_votes %}
      <button class="vote-button upvote" data-state="disabled"></button>
      <button class="vote-button downvote" data-state="voted"></button>
      {% else %}
      <button class="vote-button upvote" data-state="enabled"></button>
      <button class="vote-button downvote" data-state="enabled"></button>
      {% endif %}
    </div>
    <div>
        <div class="post-title">
          <a href="{% url 'discussion' post.id %}">
            <h2>{{ post.title }}</h2>
          </a>
        </div>
        <div class="post-line-2">
          <div class="post-score">
               by {{ post.author }} |
               {{ post.score }} points |  
              {{ post.num_comments }} comment{{ post.num_comments|pluralize }} |
              {{ post.submission_time | naturaltime }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
