{% extends "base.html" %}
{% block title %}Talk@HashedIn{% endblock %}

{% block pagecss %}
.post {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    margin-bottom: 0.6rem;
 }
 .post-title h2 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
 }
 .post-title a {
    color: black;
 }
 .post-line-2 {
    color: gray;
 }
 .post-line-2 a {
    color: gray;
    text-decoration: underline;
 }
 .post-vote-control {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-justify-content: space-around;
    text-align: center;
    margin-top: 3px;
    margin-right: 15px;
 }
 .vote-button {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
 }
 .upvote {
    align-self: flex-start;
    border-bottom: 15px solid #DDDDDD;
 }
 .downvote {
    align-self: flex-end;
    border-top: 15px solid #DDDDDD;
 }
 .upvote-clicked {
    align-self: flex-start;
    border-bottom: 15px solid gray;
 }
 .downvote-clicked {
    align-self: flex-end;
    border-top: 15px solid gray;
 }

{% endblock %}

{% block content %}
<div class="posts">
  {% for post in posts %}
    <div class="post">
      <div class="post-vote-control">
        <div class="vote-button upvote"></div>
        <div class="post-votes">{{ post.score }}</div>
        <div class="vote-button downvote"></div>
      </div>
      <div>
        <div class="post-title">
          <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
        </div>
        <div class="post-line-2">
          <div class="post-score">
               by <a href="">{{ post.username }}</a> | 
              <a href="">flag</a> | 
              <a href="{% url 'discussion' post.id %}">{{ post.num_comments }} comments</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
