{% extends "base.html" %}
{% load bootstrap %}
{% load markdown %}
{% block title %}Reply to Comment{% endblock %}

{% block content %}
<div class="container-fluid">

<h1>Replying to:</h1>

<div class="comment-text">
<p>
{{ parent_comment.text | truncatechars:200 | markdown }}
</p>
</div>

<div class="row">
<div class="col-md-4 col-sm-6">

<form method="post">
    {% csrf_token %}
    {{ form | bootstrap }}
    <input type="submit" value="Submit Comment" />
</form>

</div></div></div>
{% endblock %}
